@import url('https://fonts.cdnfonts.com/css/youtube-sans');
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

:root {
    --backG1: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url(https://wallpaperaccess.com/full/9336992.gif);
    --backG2: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url(https://gifdb.com/images/thumbnail/anime-rain-swamp-3fkql7s9ykask3qh.gif);
    --backG3: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url(https://i.pinimg.com/originals/3e/4d/1b/3e4d1b712345ef6294447891ec6ddd5c.gif);
    --backG4: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url(https://img.wattpad.com/e55fde72193a133be88fac7cadbec989651d5ad7/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f2d4c6269774c4c4c3368737a46673d3d2d313139333635323039372e3137333766333735396431613662636639303339373937383834342e676966);
    --backG5: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url(https://media.indiedb.com/images/groups/1/25/24269/f3SoU49.1.gif);
}

.body {
    background-image: var(--backG1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
}

input::placeholder {
    font-family: 'San Francisco';
    color: white;
}

input:focus {
    outline: none;
    background: none;
    font-family: 'San Francisco';
    border: none;
    color: white;
}

.buttonClass {
    color: white;
    font-family: 'San Francisco';
}

.outline {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.music {
    font-family: 'YouTube Sans';
    color: white;
    text-align: center;
}

.backG {
    background-color: #111111;
    width: fit-content;
    height: fit-content;
    box-shadow:
        0px 5px 10px #181818,
        5px 0px 10px #181818,
        -5px 0px 10px #181818;
    padding-bottom: 3em;
}

.status {
    font-family: 'San Francisco';
    font-weight: bold;
    background: none;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: large;
}

button {
    background-color: transparent;
    border: none;
    margin-left: 1.5%;
    
}

.back {
    position: relative;
    vertical-align: middle;
    background-color: #678d58;
}

.block {
    background-color: white;
    width: 1000px;
}

.pfp {
    border-radius: 50%;
    width: 20%;
    z-index: 69;
    box-shadow:
    0px 7.5px 10px black,
    0px -0.5px 7.5px white;


    visibility: visible;
    margin-top: -8%;
}

.visPfp {
    border-radius: 50%;
    width: 7.5%;
    z-index: 69;
    box-shadow: 0px 7.5px 10px black;
}

input {
    color: white;
}

.backgroundE {
    background-color: #111111;
    width: fit-content;
    padding-left: 7.5px;
    padding-right: 2px;
}

.mark {
    font-family: 'San Francisco';
    font-weight: bold;
    color: white;
    background: #111111;
    text-decoration: none;
    font-size: small;
    width: fit-content;
    height: fit-content;
    padding: 0px 7.5px;
}

.test {
    width: fit-content;
}

.musicThing {
    box-shadow:
        0px 5px 10px #111111,
        5px 0px 10px #111111,
        0px -3px 25px #1f1f1f;
}

.buttonStyle {
    background-color: white;
    font-family: 'San Francisco';
    color: black;
    padding: 0px 10px;
}

.urlButton {
    border: none;
    background: none;
}
